/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333333;
    color:#ffffff;
    font-family: "M PLUS 1 Code", monospace;
}

/* Game play area */
.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #555555;
    padding: 20px 0;
    width: 95%;
}

#logo {
    margin-bottom: 60px;
    font-size: 90%;
}

.play-game {
    border-radius: 5px;
    background-color: #ebb506;
    color: #333333;
    font-weight: 800;
    text-transform: uppercase;
    padding:5px 10px;
    margin-top: 40px;
}

.game {
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.card::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #333333;
    transform: rotateY(0deg);
    transition: 0.25s;
    backface-visibility: hidden;
}

.card.flipped {
    transform: rotateY(0deg);
}

.flipped:after, .cardMatch:after {
    transform: rotateY(180deg);
}

/* Media query for tablets */
@media screen and (min-width: 768px) {
    .card {
        width: 140px;
        height: 140px;
    }

    .game {
        gap: 20px;
    }
}

/* Media query for laptops and larger */
@media screen and (min-width: 1024px) {
    .card {
        width: 160px;
        height: 160px;
    }
}